<style>
    #add {
        margin: 70px auto;
        max-width:30%;
        box-sizing:border-box;
        padding:20px;
        border-radius:5px;
        background:RGBA(255,255,255,1);
        -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
        box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    }
    .textbox{
        height:50px;
        width:100%;
        border-radius:3px;
        border:rgba(0,0,0,.3) 2px solid;
        box-sizing:border-box;
        font-family: 'Open Sans', sans-serif;
        font-size:18px;
        padding:10px;
        margin-bottom:30px;
    }
    .message:focus,
    .textbox:focus{
        outline:none;
        border:rgba(24,149,215,1) 2px solid;
        color:rgba(24,149,215,1);
    }
    .message{
        background: rgba(255, 255, 255, 0.4);
        width:100%;
        height: 120px;
        border:rgba(0,0,0,.3) 2px solid;
        box-sizing:border-box;
        -moz-border-radius: 3px;
        font-size:18px;
        font-family: 'Open Sans', sans-serif;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        display:block;
        padding:10px;
        margin-bottom:30px;
        overflow:hidden;
    }
    .button{
        height:50px;
        width:100%;
        border-radius:3px;
        border:rgba(0,0,0,.3) 0px solid;
        box-sizing:border-box;
        padding:10px;
        background:#90c843;
        color:#FFF;
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        font-size: 16pt;
        transition:background .4s;
        cursor:pointer;
    }

    .button:hover{
        background:#80b438;
    }
</style>


<form  action ='/' method="post" enctype=multipart/form-data id="add">
    <input type="text" name="title" class="textbox" placeholder="Заголовок" required>
     С водяным знаком<input type=file name="uploadfile" class="textbox" required>
     Оригинальное изображение           <input type=file name="uploadfile2" class="textbox" required>
    <input name="author" placeholder="Автор" class="textbox"/>
    <input name="price" placeholder="Цена" type="text" class="textbox" required />
    <label for="type">Тип</label>
    <select name="type" class="textbox">
        <option value="photo">Фото</option>
        <option value="illustration">Иллюстрация</option>
        <option value="vector">Вектор</option>
    </select>
    <label for="orientation">Ориентация</label>
    <select name="orientation" class="textbox">
        <option value="horizontal">Горизонтальная</option>
        <option value="vertical">Вертикальная</option>
    </select>
        
        
        <label for="category">Категория</label>
    <select name="category" class="textbox">
        <option value="nature">Природа</option>
        <option value="tech">Технологии</option>
        <option value="education">Образование</option>
        <option value="animals">Животные</option>
        <option value="architecture">Архитектура</option>
        <option value="business">Бизнес</option>
        <option value="fashion">Мода</option>
        <option value="people">Люди</option>
        <option value="sport">Спорт</option>
        <option value="music">Музыка</option>
        <option value="food">Еда</option>
        <option value="computers">Компьютеры</option>
        <option value="emotions">Эмоции</option>
        <option value="other">Другое</option>
    </select>
    <input name="submit" class="button" type="submit" class='button' value="Загрузить" />
</form>