<div class="contact">

    <div class="container">
        <h1>Напишите нам</h1>
        <div class="contact-form">

            <div class="col-md-8 contact-grid">
                <form>
                    <input type="text" value="Имя" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Имя';}">

                    <input type="text" value="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
                    <input type="text" value="Тема письма" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Тема письма';}">

                    <textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Сообщение';}">Сообщение</textarea>
                    <div class="send">
                        <input type="submit" value="Отправить">
                    </div>
                </form>
            </div>
            <div class="col-md-4 contact-in">

                <div class="address-more">
                    <h4>Адрес</h4>
                    <p>ул. Раисы Окипной, 4</p>
                    <p>тел. 050-123-45-67</p>
                    <p>Email:<a href="mailto:contact@mediastock.com"> contact@mediastock.com</a></p>
                </div>


            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d635.1320043521017!2d30.5949391!3d50.4498915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfee0b840987%3A0x3f3a3c102ad275da!2z0LLRg9C70LjRhtGPINCg0LDRl9GB0Lgg0J7QutGW0L_QvdC-0ZcsIDQsINCa0LjRl9CyLCAwMjAwMQ!5e0!3m2!1suk!2sua!4v1468865918641" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>