<div class="banner">
    <div class="container">

        <div  id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>

                    <div class="banner-text">
                        <h3>Mediastock - </h3>
                        <p>это банк фотографий, иллюстраций и векторых изображений. Уникальность, качество, приятные цены</p>
                        <a href="index.php?route=photo/index">Learn More</a>
                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>
<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>Последние релизы</h1>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="index.php?route=photo/show/id=<?=$args[0]['id']?>" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="<?=$args[0]['show_dir']?>" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span><?=$args[0]['title']?></span>
                            </h3>
                        </div>
                    </a>


                    <p><a href="index.php?route=photo/category/<?=$args[0]['category']?>"><?=$args[0]['category']?></a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="index.php?route=photo/show/id=<?=$args[1]['id']?>" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="<?=$args[1]['show_dir']?>" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span><?=$args[1]['title']?></span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="index.php?route=photo/category/<?=$args[1]['category']?>"><?=$args[1]['category']?></a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="index.php?route=photo/show/id=<?=$args[2]['id']?>" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="<?=$args[2]['show_dir']?>" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span><?=$args[2]['title']?></span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="index.php?route=photo/category/<?=$args[2]['category']?>"><?=$args[2]['category']?></a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="index.php?route=photo/show/id=<?=$args[3]['id']?>" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="<?=$args[3]['show_dir']?>" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span><?=$args[3]['title']?></span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="index.php?route=photo/category/<?=$args[3]['category']?>"><?=$args[3]['category']?></a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="index.php?route=photo/show/id=<?=$args[4]['id']?>" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="<?=$args[4]['show_dir']?>" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span><?=$args[4]['title']?></span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="index.php?route=photo/category/<?=$args[4]['category']?>"><?=$args[4]['category']?></a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="index.php?route=photo/show/id=<?=$args[5]['id']?>" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="<?=$args[5]['show_dir']?>" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span><?=$args[5]['title']?></span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="index.php?route=photo/category/<?=$args[5]['category']?>"><?=$args[5]['category']?></a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!----->

        <div class="content-top-bottom">
            <h2>Популярное</h2>
            <div class="col-md-6 men">
                <a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/View/images/t1.jpg" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>Обувь</span>
                        </h3>
                    </div>
                </a>


            </div>
            <div class="col-md-6">
                <div class="col-md1 ">
                    <a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/View/images/t2.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                <span>Чемодан</span>
                            </h3>
                        </div>
                    </a>

                </div>
                <div class="col-md2">
                    <div class="col-md-6 men1">
                        <a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/View/images/t3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Жакет</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6 men2">
                        <a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="/View/images/t4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Ботинки</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <br>

</div>