<style>
    #add {
        margin: 70px auto;
        max-width:30%;
        box-sizing:border-box;
        padding:20px;
        border-radius:5px;
        background:RGBA(255,255,255,1);
        -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
        box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    }
    .textbox{
        height:50px;
        width:100%;
        border-radius:3px;
        border:rgba(0,0,0,.3) 2px solid;
        box-sizing:border-box;
        font-family: 'Open Sans', sans-serif;
        font-size:18px;
        padding:10px;
        margin-bottom:30px;
    }
    .message:focus,
    .textbox:focus{
        outline:none;
        border:rgba(24,149,215,1) 2px solid;
        color:rgba(24,149,215,1);
    }
    .message{
        background: rgba(255, 255, 255, 0.4);
        width:100%;
        height: 120px;
        border:rgba(0,0,0,.3) 2px solid;
        box-sizing:border-box;
        -moz-border-radius: 3px;
        font-size:18px;
        font-family: 'Open Sans', sans-serif;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        display:block;
        padding:10px;
        margin-bottom:30px;
        overflow:hidden;
    }
    .button{
        height:50px;
        width:100%;
        border-radius:3px;
        border:rgba(0,0,0,.3) 0px solid;
        box-sizing:border-box;
        padding:10px;
        background:#90c843;
        color:#FFF;
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        font-size: 16pt;
        transition:background .4s;
        cursor:pointer;
    }

    .button:hover{
        background:#80b438;
    }
</style>


<form  action ='/' method="post" enctype=multipart/form-data id="add">
    <input type="text" name="username" class="textbox" placeholder="Имя пользователя" required>
    <input type='password' name="password" placeholder="Пароль" class="textbox" required>
    <input name="submit" class="button" type="submit" class='button' value="Загрузить" />
</form>