<!DOCTYPE html>
<html>
<head>
    <title>Mediastock</title>
    <link href="/View/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/View/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/View/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style_form.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="/View/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/View/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="/View/js/simpleCart.min.js"> </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="search">
                <form action="/index.php?route=index/search">
                    <input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="header-left">
                <ul>
                    <li ><a href="#"  ></a></li>
                    <li><a  href="#"  ></a></li>

                </ul>
                <div class="cart box_1">
                    <a href="#">
                        <h3> <div class="total">
                                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> вещей)</div>
                            <img src="/View/images/cart.png" alt=""/></h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Пустая корзина</a></p>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="logo">
                <a href="/"><img src="/View/images/logo.png" alt=""></a>
            </div>
            <div class=" h_menu4">
                <ul class="memenu skyblue">
                    <li class="active grid"><a class="color8" href="/">Главная</a></li>
                    <li><a class="color1" href="/index.php?route=photo/index">Фото</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="/index.php?route=photo/category/nature">Природа</a></li>
                                            <li><a href="/index.php?route=photo/category/tech">Технологии</a></li>
                                            <li><a href="/index.php?route=photo/category/sport">Спорт</a></li>
                                            <li><a href="/index.php?route=photo/category/education">Образование</a></li>
                                            <li><a href="/index.php?route=photo/category/animals">Животные</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <ul>
                                            <li><a href="/index.php?route=photo/category/architecture">Архитектура</a></li>
                                            <li><a href="/index.php?route=photo/category/business">Бизнес</a></li>
                                            <li><a href="/index.php?route=photo/category/fashion">Мода</a></li>
                                            <li><a href="/index.php?route=photo/category/people">Люди</a></li>
                                            <li><a href="/index.php?route=photo/category/music">Музыка</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <a href="/index.php?route=photo/index"><h4>Все</h4></a>
                                        <ul>
                                            <li><a href="/index.php?route=photo/category/food">Еда</a></li>
                                            <li><a href="/index.php?route=photo/category/computers">Компьютеры</a></li>
                                            <li><a href="/index.php?route=photo/category/emotions">Эмоции</a></li>
                                            <li><a href="/index.php?route=photo/category/other">Другое</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color4" href="index.php?route=index/add">Добавить</a></li>
                    <li><a class="color6" href="/index.php?route=index/contact">Обратная связь</a></li>
                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<?=$content?>
<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>Инфо</h4>
                <ul class="nav-bottom">
                    <li><a href="#">Как приобрести</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="index.php?route=index/contact">Как нас найти</a></li>
                    <li><a href="#">Стать участником</a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>Связь с нами</h4>

                <p>
                    ул. Раисы Окипной, 4</p>
                <p>Email: contact@mediastock.com</p>
                <p>тел. 050-123-45-67</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4>Следите за новостями</h4>
                <p>Уведомление о важных нововведениях и акциях</p>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Sign up">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-class">
        <p >© 2016 New store Mediastock. All Rights Reserved</p>
    </div>
</div>
</body>
</html>
