<div class="product">
    <div class="container">
        <div class="col-md-3 product-price">

            <div class=" rsidebar span_1_of_left">
                <div class="of-left">
                    <h3 class="cate">Критерии</h3>
                </div>
                <ul class="menu">
                    <li class="item1"><a href="/index.php?route=photo/index">Все типы</a>
                        <ul class="cute">
                            <li class="subitem1"><a href="index.php?route=photo/criterion/photo">Фото</a></li>
                            <li class="subitem2"><a href="index.php?route=photo/criterion/illustration">Иллюстрации</a></li>
                            <li class="subitem3"><a href="index.php?route=photo/criterion/vector">Векторы</a></li>
                        </ul>
                    </li>
                    <li class="item2"><a href="/index.php?route=photo/index">Любая ориентация</a>
                        <ul class="cute">
                            <li class="subitem1"><a href="index.php?route=photo/criterion/horizontal">Горизонтальная</a></li>
                            <li class="subitem2"><a href="index.php?route=photo/criterion/vertical">Вертикальная</a></li>
                        </ul>
                    </li>
                    <li class="item3"><a href="#">Цена</a>
                        <ul class="cute">
                            <li class="subitem1"><a href="index.php?route=photo/criterion/price-asc">От большей к меньшей</a></li>
                            <li class="subitem2"><a href="index.php?route=photo/criterion/price-desc">От меньшей к большей</a></li>
                            <li class="subitem3"><a href="single.html"></a></li>
                        </ul>
                    </li>
                    <li class="item4"><a href="#">Тематика</a>
                        <ul class="cute">
                            <li class="subitem3"><a href="/index.php?route=photo/index">Всё</a></li>
                            <li class="subitem1"><a href="/index.php?route=photo/category/nature">Природа</a></li>
                            <li class="subitem2"><a href="/index.php?route=photo/category/architecture">Архитектура</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/sport">Спорт</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/people">Люди</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/emotions">Эмоции</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/fashion">Мода</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/food">Еда</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/education">Образование</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/music">Музыка</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/business">Бизнес</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/computers">Компьютеры</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/tech">Технологии</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/animals">Животные</a></li>
                            <li class="subitem3"><a href="/index.php?route=photo/category/other">Другое</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--initiate accordion-->
            <script type="text/javascript">
                $(function() {
                    var menu_ul = $('.menu > li > ul'),
                        menu_a  = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function(e) {
                        e.preventDefault();
                        if(!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true,true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true,true).slideUp('normal');
                        }
                    });

                });
            </script>
            <!---->
            <div class="product-middle">

                <div class="fit-top">
                    <h6 class="shop-top">Акции</h6>
                    <a  class="shop-now" href='#' onclick="alert('На данный момент акций нет. Подпишись и будь в курсе новостей!')">SHOP NOW</a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="sellers">
                <div class="of-left-in">
                    <h3 class="tag">Теги</h3>
                </div>
                <div class="tags">
                    <ul>
                        <?php foreach ($tags as $tag) :?>
                            <li><a href="index.php?route=photo/show/id=<?=$tag['id']?>"><?=$tag['title']?></a></li>
                        <?php endforeach;?>

                        <div class="clearfix"> </div>
                    </ul>

                </div>

            </div>

            
            <div class=" per1">
                <a href="#" ><img class="img-responsive" src="/View/images/pro.jpg" alt="">
                    <div class="six1">
                        <h4>DISCOUNT</h4>
                        <p>Up to</p>
                        <span>60%</span>
                    </div></a>
            </div>
        </div>
        <div class="col-md-9 product1">
            <div class=" bottom-product">
                <?php
                foreach ($args as $item) :?>



                    <div class="col-md-6 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="index.php?route=photo/show/id=<?=$item['id']?>"><img class="img-responsive" src="<?=$item['show_dir']?>" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Подробнее</span>
                                </div>
                            </a>
                        </div>
                        <p class="tun"><?=$item['title']?></p>
                        <a href="#" class="item_add"><p class="number item_price"><i> </i><?=$item['price']?>$</p></a>
                        <br>
                    </div>













                <?php endforeach; ?>

            </div>
        </div>
        <div class="clearfix"> </div>
        <nav class="in">
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2 <span class="sr-only"></span></a></li>
                <li><a href="#">3 <span class="sr-only"></span></a></li>
                <li><a href="#">4 <span class="sr-only"></span></a></li>
                <li><a href="#">5 <span class="sr-only"></span></a></li>
                <li> <a href="#" aria-label="Next"><span aria-hidden="true">»</span> </a> </li>
            </ul>
        </nav>
    </div>
